{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}ጠይም{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'teyim\images\title.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet" />

    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'teyim/css/animate.css' %}" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'teyim/css/icomoon.css' %}" />
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'teyim/css/bootstrap.css' %}" />

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'teyim/css/magnific-popup.css' %}" />

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'teyim/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'teyim/css/owl.theme.default.min.css' %}" />

    <!-- Theme style  -->
    <link rel="stylesheet" href="{% static 'teyim/css/style.css' %}" />

    <!-- Modernizr JS -->
    <script src="{% static 'teyim/js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="{% static 'teyim/js/jquery.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'teyim/js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'teyim/js/bootstrap.min.js' %}"></script>
    <!-- Waypoints -->
    <script src="{% static 'teyim/js/jquery.waypoints.min.js' %}"></script>
    <!-- Stellar Parallax -->
    <script src="{% static 'teyim/js/jquery.stellar.min.js' %}"></script>
    <!-- YTPlayer -->
    <script src="{% static 'teyim/js/jquery.mb.YTPlayer.min.js' %}"></script>
    <!-- Owl carousel -->
    <script src="{% static 'teyim/js/owl.carousel.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'teyim/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'teyim/js/magnific-popup-options.js' %}"></script>
    <!-- Main -->
    <script src="{% static 'teyim/js/main.js' %}"></script>
    
    

    

    
</head>

<body>


    <div class="colorlib-loader"></div>

    <div id="page">
        
        <nav class="colorlib-nav" role="navigation">
            
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-md-push-5 text-center">
                            <div id="colorlib-logo"><a href="{% url 'index' %}"><i class="icon-camera4"></i>ጠይም</a>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-pull-2 text-right menu-1">
                            <ul>
                                {% with url_name=request.resolver_match.url_name %}
                                <li class="{% if url_name == 'index' %}active{% endif %}"><a href="{% url 'index' %}">Home</a></li>
                                <li class="has-dropdown">
                                    <a href="{% url 'gallery' %}">Gallery</a>
                                    <ul class="dropdown">
                                        <li class="{% if url_name == 'nature' %}active{% endif %}"><a href="{% url 'nature' %}">Nature</a></li>
                                        <li class="{% if url_name == 'portrait' %}active{% endif %}"><a href="{% url 'portrait' %}">Portrait</a></li>
                                        <li class="{% if url_name == 'still' %}active{% endif %}"><a href="{% url 'still' %}">Still life</a></li>
                                        <li class="{% if url_name == 'street' %}active{% endif %}"><a href="{% url 'street' %}">Street</a></li>
                                    </ul>
                                </li>
                                {% if request.user.is_authenticated %}
                                <li class="{% if url_name == 'contribute' %}active{% endif %}"><a href="{% url 'contribute' %}">Contribute</a></li>
                                {% endif %}  
                                
                            </ul>
                        </div>
                        <div class="col-md-5 text-left menu-1">
                            
                            <ul>
                                <li class="{% if url_name == 'about' %}active{% endif %}"><a href="{% url 'about' %}">About</a></li>
                                <li class="{% if url_name == 'contact' %}active{% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
                                {% endwith %}
                                {% if request.user.is_authenticated %}

                                <li class="nav-item dropdown" style="margin-left: 80px;">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z"
                                                clip-rule="evenodd" />
                                        </svg>
                                        <span>HI {{ request.user|capfirst }}</span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'logout' %}"><b style="color: black;">Logout</b></a>
                                    </div>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a href="{% url 'register' %}" class="nav-link"><b>JOIN</b></a>
                                </li>
                                {% endif %} 
                            </ul>
                            
                        </div>
                    </div>
                </div>
                
            </div>



        </nav>
        {% block body %} {% endblock %}
        <footer id="colorlib-footer">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-3 colorlib-widget" style="float: left;">
                        <h4>About ጠይም</h4>
                        <p style="text-align: justify;">We are ጠይም Photography capturing life, culture, and humanity, in a candid manner. We enjoy taking
                            photo walks and documenting every day situations with our cameras.</p>
                        <p>
                        <ul class="colorlib-social-icons">
                            <li><a href="https://t.me/teyimp"><i class="icon-telegram"></i></a></li>
                        </ul>
                        </p>
                    </div>
                
                    <div class="col-md-3 colorlib-widget" style="margin-left: 200px;">
                        <h4>Information</h4>
                        <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="{% url 'index' %}"><i class="icon-home"></i> Home</a></li>
                            <li><a href="{% url 'gallery' %}"><i class="icon-image"></i> Gallery</a></li>
                            <li><a href="{% url 'contribute' %}"><i class="icon-plus"></i> Contribute</a></li>
                            <li><a href="{% url 'about' %}"><i class="icon-note"></i> About</a></li>
                            <li><a href="{% url 'contact' %}"><i class="icon-phone"></i> Contact</a></li>
                        </ul>
                        </p>
                    </div>
                    <div class="col-md-3 colorlib-widget" style="float: right;">
                        <h4>Contact Info</h4>
                        <ul class="colorlib-footer-links">
                            <li><a href="tel://1234567920"><i class="icon-phone"></i> +251 986945341</a></li>
                            <li><a href="https://t.me/teyimp"><i class="icon-telegram"></i> ጠይም Photography</a>
                            </li>
                            <li><a href="#"><i class="icon-location4"></i> Addis Ababa, Ethiopia</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copy">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>
                                <small class="block">
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved |
    ጠይም
    </p>
    </div>
    </div>
    </div>
    </div>
    </footer>
    </body>

</html>